.table_1{
	border: 1px solid black;
	background-color: black;
	

}
.h2{
	text-align: left;

}

.h2:hover{
	cursor: pointer;
	// color:gray;


}
.tooltip{
	 position: relative;
    display: inline-block;
    border-bottom: 1px black; 
    cursor: help;

}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: none;
    color: green;
    text-align: left;
    // padding: 0px 0;
    border-radius: 6px;
	font-size: 9px;
    margin-left: -60px; 
    bottom: 100%;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}


.tooltip:hover .tooltiptext {
    visibility: visible;
    
}

.input_1{
position: relative;
top:-10px;

overflow:hidden;
border: solid 1px #000;
appearance:none;
vertical-align:bottom;
padding-left: 240px;
white-space: nowrap;
width: 100px;


}

.title {

    text-align: center;
}


.option_1{
    position: relative;
    appearance:none;
}
